# Dependencies
/node_modules
/.pnp
.pnp.js

# Production / Build Output
/build
/dist

# Environment Variables (PENTING: Jangan upload file .env ke GitHub)
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
/coverage

# Cache / Temporary Files
.eslintcache
.cache

# Editor & OS Files
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?